{% extends "main.html" %}
{% block content %}
<br>
<form action="" method="POST" class="form-horizontal">
<center>
	<div class="form-group">
		<label for="inputEmail" class="col-lg-3 control-label">{{ _('Name') }}</label>
		<div class="col-lg-8">
			<input type="text" name="name" class="form-control" placeholder="{{ _('Name') }}">
			</div>
	</div>
	<div class="panel panel-info" style="width:90%">
		<div class="panel-heading">
			<strong>{{ _('Date and time') }}</strong>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Seconds') }}</label>
			<div class="col-lg-8">
				<input type="text" name="second" class="form-control" placeholder="{{ _('Seconds') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Minutes') }}</label>
			<div class="col-lg-8">
				<input type="text" name="minute" class="form-control" placeholder="{{ _('Minutes') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Hours') }}</label>
			<div class="col-lg-8">
				<input type="text" name="hour" class="form-control" placeholder="{{ _('Hours') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Days of week') }}</label>
			<div class="col-lg-8">
				<input type="text" name="day_of_week" class="form-control" placeholder="{{ _('Days of week') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Weeks') }}</label>
			<div class="col-lg-8">
				<input type="text" name="week" class="form-control" placeholder="{{ _('Weeks') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Days') }}</label>
			<div class="col-lg-8">
				<input type="text" name="day" class="form-control" placeholder="{{ _('Days') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Months') }}</label>
			<div class="col-lg-8">
				<input type="text" name="month" class="form-control" placeholder="{{ _('Months') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Years') }}</label>
			<div class="col-lg-8">
				<input type="text" name="year" class="form-control" placeholder="{{ _('Years') }}">
			</div>
		</div>
	</div>
	<div class="panel panel-warning" style="width:90%">
		<div class="panel-heading">
			<strong>{{ _('Media options') }}</strong>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Video source') }}</label>
			<div class="col-lg-8">
				<input type="text" name="uri" class="form-control" placeholder="{{ _('Video source') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Audio source') }}</label>
			<div class="col-lg-8">
				<input type="text" name="audio" class="form-control" placeholder="{{ _('Audio source') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Repeats') }}</label>
			<div class="col-lg-8">
				<input type="text" name="repeat" class="form-control" placeholder="{{ _('Repeats') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Aspect ratio') }}</label>
			<div class="col-lg-8">
				<input type="text" name="aspect" class="form-control" placeholder="{{ _('Aspect ratio') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Run after end') }}</label>
			<div class="col-lg-8">
				<select name="if_end_reached_run" class="form-control">
					<option value=""></option>
					{% for ljob in jobs %}
						<option value="{{ ljob.name }}">{{ ljob.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="panel panel-success" style="width:90%">
		<div class="panel-heading">
			<strong>{{ _('Showing text') }}</strong>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Text') }}</label>
			<div class="col-lg-8">
				<input type="text" name="marq_text" class="form-control" placeholder="{{ _('Text') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Color') }}</label>
			<div class="col-lg-8">
				<input type="text" name="marq_color" class="form-control" placeholder="{{ _('Color') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Initial position') }}</label>
			<div class="col-lg-8">
				<input type="text" name="marq_position" class="form-control" placeholder="{{ _('Initial position') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Horizontal offset') }}</label>
			<div class="col-lg-8">
				<input type="text" name="marq_x" class="form-control" placeholder="{{ _('Horizontal offset') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Vertical offset') }}</label>
			<div class="col-lg-8">
				<input type="text" name="marq_y" class="form-control" placeholder="{{ _('Vertical offset') }}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">{{ _('Font size') }}</label>
			<div class="col-lg-8">
				<input type="text" name="marq_size" class="form-control" placeholder="{{ _('Font size') }}">
			</div>
		</div>
	</div>
</center>
<span class="pull-right">
	<input class="btn btn-primary" type="submit" value="{{ _('Add') }}"> <a class="btn" href="/">{{ _('Cancel') }}</a>
</span>
</form>
<br>
<br>
<br>
<br>
{% endblock %}