{% extends "main.html" %}
{% block content %}
<form action="" method="POST">
<table>
	<tr>
		<td>{{ _('Name') }}</td>
		<td><input type="text" name="name" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Seconds') }}</td>
		<td><input type="text" name="second" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Minutes') }}</td>
		<td><input type="text" name="minute" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Hours') }}</td>
		<td><input type="text" name="hour" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Days of week') }}</td>
		<td><input type="text" name="day_of_week" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Weeks') }}</td>
		<td><input type="text" name="week" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Days') }}</td>
		<td><input type="text" name="day" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Months') }}</td>
		<td><input type="text" name="month" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Years') }}</td>
		<td><input type="text" name="year" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Video source') }}</td>
		<td><input type="text" name="uri" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Audio source') }}</td>
		<td><input type="text" name="audio" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Repeats') }}</td>
		<td><input type="text" name="repeat" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Run after end') }}</td>
		<td>
			<select name="if_end_reached_run">
				<option value=""></option>
				{% for ljob in jobs %}
					<option value="{{ ljob.name }}">{{ ljob.name }}</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr>
		<td colspan=2><strong>{{ _('Showing text') }}</strong></td>
	</tr>
	<tr>
		<td>{{ _('Text') }}</td>
		<td><input type="text" name="marq_text" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Color') }}</td>
		<td><input type="text" name="marq_color" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Initial position') }}</td>
		<td><input type="text" name="marq_position" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Horizontal offset') }}</td>
		<td><input type="text" name="marq_x" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Vertical offset') }}</td>
		<td><input type="text" name="marq_y" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Font size') }}</td>
		<td><input type="text" name="marq_size" value=""></td>
	</tr>
	<tr>
		<td colspan=2><input class="btn btn-primary" type="submit" value="{{ _('Add') }}"> <a class="btn" href="/">{{ _('Cancel') }}</a></td>
	</tr>
</table>
</form>
{% endblock %}