{% extends layout_template %}
{% block title %}
	{{ _('Get token') }}
{% endblock %}
{% block content %}
<form id="gethashform" action="/gethash/" method="POST">
<table>
	<tr>
		<td>{{ _('IP address') }}</td>
		<td><input type="text" name="ip" value="{{ ip }}" class="form-control" placeholder="{{ _('IP address') }}"></td>
	</tr>
	<tr>
		<td>{{ _('Token') }}</td>
		<td><input disabled type="text" value="{{ hash }}" class="form-control"></td>
	</tr>
	<tr>
		<td colspan=2><input class="gethashsubmit btn btn-primary" type="submit" value="{{ _('Get') }}"> <a class="btn" href="/">{{ _('Back') }}</a></td>
	</tr>
</table>
</form>
{% endblock %}