{% extends "main.html" %}
{% block content %}
{% if jobs %}
<table class="table table-hover">

	<tr>
		<td><strong>{{ _('Jobs') }}:</strong></td>
		<td>{{ datetime }}</td>
	</tr>
{% for job in jobs %}
	<tr class="{{ job.id }} {% if current_job %}{% if current_job.id == job.id %}success{% endif %}{% endif %}">
		<td>
			{% if "edit_jobs" in perms %}<a href="/editjob/{{ job.id }}/">{{ job }}</a>
			{% else %}
				{{ job }}
			{% endif %}
		</td>
		<td>
			{% if "delete_jobs" in perms %}<a href="/deletejob/{{ job.id }}/" class="btn btn-danger">{{ _('Delete') }}</a>{% endif %}
			{% if "run_jobs" in perms %}<a href="/runjob/{{ job.id }}/" class="btn btn-primary">{{ _('Run') }}</a>{% endif %}
		</td>
	</tr>
{% endfor %}
</table>
{% endif %}
{% if "add_jobs" in perms %}<a href="/addjob/" class="btn btn-primary">{{ _('Add job') }}</a>
<br><br>
{% endif %}
{% if media %}
	{% if media['state'] == 1 %}
		<p class="text-info"><strong>{{ _('Opening') }}: </strong></p>
	{% elif media['state'] == 2 %}
		<p class="text-info"><strong>{{ _('Buffering') }}: </strong></p>
	{% elif media['state'] == 3 %}
		<p class="text-success"><strong>{{ _('Playing') }}: </strong></p>
	{% elif media['state'] == 4 %}
		<p class="text-warning"><strong>{{ _('Paused') }}: </strong></p>
	{% elif media['state'] == 5 %}
		<p class="muted"><strong>{{ _('Stopped') }}: </strong></p>
	{% elif media['state'] == 6 %}
		<p class="text-warning"><strong>{{ _('Ended') }}: </strong></p>
	{% elif media['state'] == 7 %}
		<p class="text-error"><strong>{{ _('Error') }}: </strong></p>
	{% else %}
		<p class="muted"><strong>{{ _('Stopped') }}</strong></p>
	{% endif %}
	{% if media['mrl'] %}
	<p>{{ media['mrl'] }}</p>
	{% endif %}
{% else %}
	<p class="muted"><strong>{{ _('Stopped') }}</strong></p>
{% endif %}
<br>
{% if "run_jobs" in perms %}<a href="/play/" class="btn btn-primary" title="{{ _('Play') }}"><i class="icon-play icon-white"></i></a> {%endif%}
{% if "run_jobs" in perms %}<a href="/pause/" class="btn btn-info" title="{{ _('Pause') }}"><i class="icon-pause icon-white"></i></a> {% endif %}
{% if "run_custom_jobs" in perms %}<a href="/open/" class="btn btn-success"><i class="icon-folder-open icon-white" title="{{ _('Open file') }}"></i></a>{% endif %}
<br><br>
{% if "get_token" in perms %}
<p>
<a href="/gethash/" class="btn btn-primary">{{ _('Get token') }}</a>
</p>
{% endif %}
{% endblock %}