{% extends "main.html" %}
{% block title %}
	{{ _('Open file') }}
{% endblock %}
{% block content %}
<form action="/open/" method="POST">
<table>
	<tr>
		<td>{{ _('Video source') }}</td>
		<td><input type="text" name="uri" class="form-control" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Audio source') }}</td>
		<td><input type="text" name="audio" class="form-control" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Repeats') }}</td>
		<td><input type="text" name="repeat" class="form-control" value=""></td>
	</tr>
	<tr>
		<td colspan=2><input class="btn btn-primary" type="submit" value="{{ _('Open') }}"> <a class="btn" href="/">{{ _('Cancel') }}</a></td>
	</tr>
</table>
</form>
{% endblock %}