{% extends "main.html" %}
{% block content %}
<form action="/open/" method="POST">
<table>
	<tr>
		<td>{{ _('Video source') }}</td>
		<td><input type="text" name="uri" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Audio source') }}</td>
		<td><input type="text" name="audio" value=""></td>
	</tr>
	<tr>
		<td>{{ _('Repeats') }}</td>
		<td><input type="text" name="repeat" value=""></td>
	</tr>
	<tr>
		<td colspan=2><input class="btn btn-primary" type="submit" value="{{ _('Open') }}"></td>
	</tr>
</table>
</form>
{% endblock %}