{% extends "main.html" %}
{% block content %}
<form action="" method="POST">
<table>
	<tr>
		<td>Name</td>
		<td><input type="text" name="name" value=""></td>
	</tr>
	<tr>
		<td>Seconds</td>
		<td><input type="text" name="second" value=""></td>
	</tr>
	<tr>
		<td>Minutes</td>
		<td><input type="text" name="minute" value=""></td>
	</tr>
	<tr>
		<td>Hours</td>
		<td><input type="text" name="hour" value=""></td>
	</tr>
	<tr>
		<td>Days of week</td>
		<td><input type="text" name="day_of_week" value=""></td>
	</tr>
	<tr>
		<td>Weeks</td>
		<td><input type="text" name="week" value=""></td>
	</tr>
	<tr>
		<td>Days</td>
		<td><input type="text" name="day" value=""></td>
	</tr>
	<tr>
		<td>Months</td>
		<td><input type="text" name="month" value=""></td>
	</tr>
	<tr>
		<td>Years</td>
		<td><input type="text" name="year" value=""></td>
	</tr>
	<tr>
		<td>Video source</td>
		<td><input type="text" name="uri" value=""></td>
	</tr>
	<tr>
		<td>Audio source</td>
		<td><input type="text" name="audio" value=""></td>
	</tr>
	<tr>
		<td>Repeats</td>
		<td><input type="text" name="repeat" value=""></td>
	</tr>
	<tr>
		<td>Run after end</td>
		<td>
			<select name="if_end_reached_run">
				<option value=""></option>
				{% for ljob in jobs %}
					<option value="{{ ljob.name }}">{{ ljob.name }}</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr>
		<td colspan=2><strong>Showing text</strong></td>
	</tr>
	<tr>
		<td>Text</td>
		<td><input type="text" name="marq_text" value=""></td>
	</tr>
	<tr>
		<td>Color</td>
		<td><input type="text" name="marq_color" value=""></td>
	</tr>
	<tr>
		<td>Initial position</td>
		<td><input type="text" name="marq_position" value=""></td>
	</tr>
	<tr>
		<td>Horizontal offset</td>
		<td><input type="text" name="marq_x" value=""></td>
	</tr>
	<tr>
		<td>Vertical offset</td>
		<td><input type="text" name="marq_y" value=""></td>
	</tr>
	<tr>
		<td>Font size</td>
		<td><input type="text" name="marq_size" value=""></td>
	</tr>
	<tr>
		<td colspan=2><input class="btn btn-primary" type="submit" value="Add"> <a class="btn" href="/">Cancel</a></td>
	</tr>
</table>
</form>
{% endblock %}